<body>
    

<div class="container">
    <div class="header">
        <h2 class="home"><a href="/home">←</a></h2>
        <h2 class="title">Registre-se</h2>
        <button (click)="fecharFormulario()" class="fechar">
                <svg xmlns="http://www.w3.org/2000/svg" width="3.5vh" height="3.5vh" fill="var(--white)"
                    class="bi bi-x" viewBox="0 0 16 16">
                    <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
     </button>
    </div>
     
    <form id="register-form" (ngSubmit)="onSubmit()">
         
        <div class="form-line">
           
            <input type="text" name="nome" placeholder="Digite seu nome" [(ngModel)]="user.username" required>
        </div>
        <div class="form-line">
           
            <input type="email" name="email" placeholder="Digite seu e-mail" [(ngModel)]="user.email" required>
        </div>
        <div class="form-line">
            
            <input type="tell" name="telefone" placeholder="Digite seu telefone" [(ngModel)]="user.telefone" required>
        </div>
        <div class="form-line">
            
            <input type="password" name="password" placeholder="Digite sua senha" [(ngModel)]="user.password" required>
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <!-- Mensagem de sucesso ou erro -->
    <div class="message success" [hidden]="!successMessage">{{ successMessage }}</div>
    <div class="message error" [hidden]="!errorMessage">{{ errorMessage }}</div>
</div>
</body>