<aside class="sidebar">

  
    <div class="sidebar-header">
      <img src="assets/img/FVEP.png" alt="logo" />
      <h2>FAVEP</h2>
    </div>
    <ul class="sidebar-links">
      <li>
        <a href="gerenciamento"><span class="material-symbols-outlined"> dashboard </span>Gerenciamento</a>
      </li>
      <li>
        <a href="estatistica"><span class="material-symbols-outlined"> monitoring </span>Estatisticas</a>
      </li>
      <li>
        <a href="relatorio"><span class="material-symbols-outlined"> overview </span>Relatório</a>
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined"> groups </span>Parceiros</a>
      </li>
      <li>
        <a href="assinatura"><span class="material-symbols-outlined"> move_up </span>Assinatura</a>
     </li>
     
      <h4>
        <span>Conta</span>
        <div class="menu-separator"></div>
      </h4>
      
      <li>
        <a href="#"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined"> settings </span>Settings</a>
      </li>
      <li>
        <a href="#"><span class="material-symbols-outlined"> logout </span>Logout</a>
      </li>
    </ul>
  </aside>