<div class="sidebar p-3 ">
    <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link text-black" href="estatistica">Estatísticas</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-black" href="gerenciamento">Gerenciamento</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-black" href="relatorio">Relatórios</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-black" href="assinatura">Assinaturas</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-black" href="parceiros">Parceiros</a></li>

        <hr class="linha-divisora">

        <a class="Sobre-nos">Sobre nós:</a><br>
        <a class="nav-link text-black">Uma nova empresa disposta a mudar a sua vida para melhor.</a><br>

        <a class="Sobre-nos">Contatos:</a><br>
        <a class="nav-link text-black">Email: favep.com<br> Telefone: (16)99999-1010</a><br>

        <!--<a class="Sobre-nos">Redes sociais:</a><br>-->
    </ul>
</div>

<nav class="navbar">
    
    <div class="logo-container">
        <a href="home"><img src="assets/img/FVEP.png"  class="logo-img"></a>
        
        <div class="logo-text">FAVEP</div>
    </div>
    <button class="logout-btn" onclick="logout()">Sair</button>
</nav>

