<div class="dashboard-container">
  <header class="dashboard-header">
    <h1><i class="fas fa-tractor"></i> FAVEP - Gestão Agronômica</h1>
    <div class="user-info">
      <span>Olá, {{usuarioNome}}</span>
      <img [src]="usuarioFoto" [alt]="'Foto de ' + usuarioNome" class="user-avatar">
    </div>
  </header>

  <nav class="main-menu">
    <a href="home" class="active"><span class="material-symbols-outlined">home</span> Home</a>
    <a href="gerenciamento" class="active"><span class="material-symbols-outlined"> dashboard </span>Gerenciamento</a>
    <a href="estatistica" class="active"><span class="material-symbols-outlined"> monitoring </span> estatistica</a>
    <a href="relatorio" class="active"><span class="material-symbols-outlined"> overview </span> Relatorio geral</a>
    <a href="assinatura" class="active"><span class="material-symbols-outlined"> move_up </span> Assinatura</a>
    <a><i class="fas fa-user"></i> Perfil</a>
  </nav>

</div>