<div class="d-flex">
  <app-menu></app-menu>
  <div class="container-fluid p-4">   
    <div class="container-planos ">
      <div class="container">


        <div class="card">
          <h3>Área</h3>
          <p>4.000,00 ha</p>
          <h3>Produção</h3>
          <p>280.000,00 sc60</p>
          <h3>Produtividade</h3>
          <p>70,00 sc60/ha</p>
        </div>
    
        <div class="card">
          <h3>Produção vendida</h3>
          <p>269.319,69 sc60</p>
          <h3>Produção a vender</h3>
          <p>10.680,31 sc60</p>
          <h3>Ponto de equilíbrio</h3>
          <p>40,74 sc60/ha</p>
        </div>
    
        <div class="card">
          <h3>Plantio <span class="status">FINALIZADO</span></h3>
          <p>Duração: 22 dias</p>
          <p>Início: 27/09/2023</p>
          <p>Final: 14/10/2024</p>
        </div>
    
        <div class="card">
          <h3>Colheita <span class="status">FINALIZADO</span></h3>
          <p>Duração: 84 dias</p>
          <p>Início: 02/01/2024</p>
          <p>Final: 25/03/2024</p>
        </div>
    
        <div class="card">
          <h3>Receita estimada</h3>
          <p>R$: 37.800.000,00</p>
          <p>R$/ha: 9.450,00</p>
          <p>R$/sc60 vendido: 140,00</p>
          <p>R$/sc60 a vender: 135,00</p>
        </div>
    
        <div class="card">
          <h3>Custos e despesas</h3>
          <p>R$: 22.000.000,00</p>
          <p>R$/ha: 5.500,00</p>
          <p>R$/sc60: 78,57</p>
        </div>
    
        <div class="card">
          <h3>Lucro</h3>
          <p>R$: 15.800.000,00</p>
          <p>R$/ha: 3.950,00</p>
          <p>R$/sc60: 56,43</p>
        </div>
    
        <div class="card margin-chart">
          <h3>Margem</h3>
          <div class="circle">41,8%</div>
        </div>
    
      </div>
  </div>
  </div>
  </div>


