.container-planos {
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    background: #e4ecdf;
    position: relative;
}

h2 {
    font-family: "Gravitas One", serif;
    font-size: 25px;
    text-align: center; /* Centraliza o título */
}

.plan-card-mensal,
.plan-card-trimestral,
.plan-card-semestral,
.plan-card-semanal,
.plan-card-anual {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: transform 0.3s, background-color 0.3s;
}

.plan-card-mensal:hover,
.plan-card-trimestral:hover,
.plan-card-semestral:hover,
.plan-card-semanal:hover,
.plan-card-anual:hover {
    background-color: #ffffff;
    transform: scale(1.03);
}

.btn-assinar-mensal,
.btn-assinar-trimestral,
.btn-assinar-semestral,
.btn-assinar-semanal,
.btn-assinar-anual {
    background-color: #ffffff;
    border-color: #43af00;
    color: #000000;
    padding: 8px 16px;
    border-radius: 64px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    width: 45%;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-assinar-mensal:hover,
.btn-assinar-trimestral:hover,
.btn-assinar-semestral:hover,
.btn-assinar-semanal:hover,
.btn-assinar-anual:hover {
    background-color: #43af00;
    color: white;
    transform: scale(1.03);
}

/* Responsividade */
@media (max-width: 992px) {
    .container-planos {
        width: 100%;
        margin-left: 0;
        padding: 10px 5px;
        gap: 15px;
    }

    .plan-card-mensal,
    .plan-card-trimestral,
    .plan-card-semestral,
    .plan-card-semanal,
    .plan-card-anual {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .plan-card-mensal,
    .plan-card-trimestral,
    .plan-card-semestral,
    .plan-card-semanal,
    .plan-card-anual {
        width: 75%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .plan-card-mensal,
    .plan-card-trimestral,
    .plan-card-semestral,
    .plan-card-semanal,
    .plan-card-anual {
        width: 100%;
        padding: 12px;
    }

    .btn-assinar-mensal,
    .btn-assinar-trimestral,
    .btn-assinar-semestral,
    .btn-assinar-semanal,
    .btn-assinar-anual {
        width: 100%;
    }

    h2 {
        font-size: 20px;
    }
}
