<div class="d-flex">
    <app-menu></app-menu> 
    <div class="container-fluid p-4">
        
    <div class="container-planos ">
        <div class="plan-card-semanal">
            <h2>Plano Semanal</h2>
            <p class="price">R$ 500,00/semanal</p>
            <ul>
                <li>Acesso a todo conteúdo</li>
                <li>Acesso à planilha de Gerenciamento</li>
                <li>1 Semana de acesso às estatísticas</li>
                <li>1 Semana de acesso aos relatórios</li>
            </ul>
            <button class="btn-assinar-semanal">Assinar</button>
        </div>

        <div class="plan-card-mensal">
            <h2>Plano Mensal</h2>
            <p class="price">R$ 2.000,00/mês</p>
            <ul>
                <li>Acesso a todo conteúdo</li>
                <li>Acesso à planilha de Gerenciamento</li>
                <li>1 Mês de acesso às estatísticas</li>
                <li>1 Mês de acesso aos relatórios</li>
            </ul>
            <button class="btn-assinar-mensal">Assinar</button>
        </div>

        <div class="plan-card-trimestral">
            <h2>Plano Trimestral</h2>
            <p class="price">R$ 5.400,00/3 meses</p>
            <ul>
                <li>Acesso a todo conteúdo</li>
                <li>Acesso à planilha de Gerenciamento</li>
                <li>3 Mêses de acesso às estatísticas</li>
                <li>3 Mêses de acesso aos relatórios</li>
            </ul>
            <button class="btn-assinar-trimestral">Assinar</button>
        </div>

        <div class="plan-card-semestral">
            <h2>Plano Semestral</h2>
            <p class="price">R$ 9.900,00/6 meses</p>
            <ul>
                <li>Acesso a todo conteúdo</li>
                <li>Acesso à planilha de Gerenciamento</li>
                <li>6 Mêses de acesso às estatísticas</li>
                <li>6 Mêses de acesso aos relatórios</li>
            </ul>
            <button class="btn-assinar-semestral">Assinar</button>
        </div>

       

        <div class="plan-card-anual">
            <h2>Plano Anual</h2>
            <p class="price">R$ 16.800,00/12 meses</p>
            <ul>
                <li>Acesso a todo conteúdo</li>
                <li>Acesso à planilha de Gerenciamento</li>
                <li>12 Mêses de acesso às estatísticas</li>
                <li>12 Mêses de acesso aos relatórios</li>
            </ul>
            <button class="btn-assinar-anual">Assinar</button>
        </div>

    </div>






</div>
</div>
