

/*painel principal*/
.painel {
  background: url("/assets/img/fundo.jpg") no-repeat center center/cover;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  
}

.overlay h1 {
  font-size: 3rem;
  margin: 10;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  
}

.credit {
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
 
}

.btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  transition: background 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

.btn:hover {
  background: white;
  color: #333;
}

/*Cards explicativos*/
.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #f8f8f8;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.card .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  text-align:left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  
}

.mais {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
   font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.mais:hover {
  text-decoration: underline;
}



/*Extras*/
.servico {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  background-color: #012e5ec2;
}
.texto {
  max-width: 500px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.1;
}

.texto h1 {
  font-size: 36px;
  color: #000000;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 55px;
  text-align: center;
}

.texto ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 

.servico1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  background-color: #ffffffc2;
  flex-wrap: wrap;
}
.texto1 {
  max-width: 500px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.1;
}

.texto1 h1 {
  color: #ffffff;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 55px;
  text-align: center;

}

.texto1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 




.imagem img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border: #2c3e50 2px solid;
}














