<div class="botao-voltar">
  <a href="gerenciamento">
    <span class="material-symbols-outlined"></span> 🔙
  </a>
</div>

<div class="container">
    <h1>Usuário</h1>
  
    <div class="profile-section">
      <div class="general-info">
        <h2>Geral</h2>
        <div class="profile-photo">
          <img src="assets/img/usuario.jpg" alt="User Photo">
          <button class="edit-btn">✎</button>
        </div>
  
        <div class="info-list">
          <p><strong>Nome:</strong> <span>Thomas Edison</span></p>
          <p><strong>Email:</strong> <span>thomas&#64;site.com</span></p>
          <p><strong>Telefone:</strong> <span>(60) 12 345 6789</span></p>
          <p><strong>Endereço:</strong> <span>551 Swanston Street,<br>Melbourne</span></p>
        </div>
      </div>
  
      <div class="help-box">
        <h2>Ainda precisa de ajuda?<br>Nos procure!</h2>
        <p><strong>Telefone:</strong> (60) 305-240-9671</p>
        <button class="chat-btn" routerLink="/contato">Entre em contato</button>
      </div>
    </div>
  
    <div class="card-info">
      <h2>Informações adicionais</h2>
      <p><strong>User ID:</strong> <span>012 395 8647</span></p>
      <p><strong>Plano:</strong> <span>Anual</span></p>
      <p><strong>Data assinatura do plano:</strong> <span>July 19, 2025</span></p>
      <p><strong>Data Validade do plano:</strong> <span>July 19, 2026</span></p>
    </div>
  </div>
  