<header >
  <div class="logo">FAVEP</div>
  <nav>
    <a href="/home">Início</a>
    <a href="#services">Serviços</a>
    <a href="#assinatura">Assinaturas</a>
    <a href="/contato">Contato</a>
  </nav>
    <a (click)="mostrarFormulario()" class="sign-in">Entrar</a>
</header>


<form [ngStyle]="{ display: mostrarForm ? 'block' : 'none' }" (ngSubmit)="onSubmit()" #loginForm="ngForm" >
  <div class="container">
      <h2 class="title">Logar</h2>
     <button (click)="fecharFormulario()" class="fechar">
  <svg xmlns="http://www.w3.org/2000/svg" width="3.5vh" height="3.5vh" fill="var(--white)"
    class="bi bi-x" viewBox="0 0 16 16">
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
  </svg>
</button>
    <div class="inputs">
      <div class="inputs-container">
        <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Insira seu e-mail" ng-required />
      </div>
      
      <div class="inputs-container">
        <input type="password" id="email" name="password" [(ngModel)]="password" placeholder="Insira sua senha" ng-required />
      </div>
    </div>

    <div class="botões">
      <div class="lembre-me">
        <div class="checkbox">
          <input [(ngModel)]="rememberMe" type="checkbox" name="check" id="check">
          <label for="check">Lembre-me</label>
        </div>
      </div>

      <a class="senha" routerLink="/forgot-password">Esqueceu a senha?</a>

      <div class="cadastrar">
        <a href="/login" >Cadastrar-se</a>
      </div>
    </div>

    <div class="confirmarBotao">
      <input class="confirmar" type="submit" value="Confirmar" href="estatistica"/>
    </div>

    <div class="message error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</form>