
<div class="d-flex">
    <app-menu></app-menu>
    <div class="container-fluid p-4">
        <div class="container-planos ">
        <div class="container-principal">
            <h1>Relatório da propriedade</h1>

            <table>
                <thead>
                  <tr>
                    <th>Nome do Arquivo</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Formulário 1</td>
                    <td>
                      <a href="url_do_arquivo_1" target="_blank">Abrir PDF</a> |
                      <a href="url_do_arquivo_1" download>Baixar PDF</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Formulário 2</td>
                    <td>
                      <a href="url_do_arquivo_2" target="_blank">Abrir PDF</a> |
                      <a href="url_do_arquivo_2" download>Baixar PDF</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Formulário 3</td>
                    <td>
                      <a href="url_do_arquivo_3" target="_blank">Abrir PDF</a> |
                      <a href="url_do_arquivo_3" download>Baixar PDF</a>
                    </td>
                  </tr>
                  <!-- Adicione mais arquivos manualmente, se necessário -->
                </tbody>
              </table>
          
        </div>
    </div>
        </div>
</div>
