<div class="container">
    <input type="checkbox" id="flip" [(ngModel)]="isFlipped">
    <div class="cover">
      <div class="back">
        <div class="text"></div>
      </div>
    </div>
  
    <div class="forms">
      <div class="form-content">
        <!-- LOGIN -->
        <div class="login-form">
          <div class="title" style="font-size: 40px; color: #012e5e;" >Login</div>
          <form>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Digite seu email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Digite sua senha" required>
              </div>
              <div class="text"><a href="#">Esqueceu a senha?</a></div>
              <div class="button input-box">
                <input type="button" onclick="window.location.href='estatistica'" value="Entrar">
              </div>
              <div class="text sign-up-text">
                Não possui conta? <label for="flip">Criar</label>
              </div>
            </div>
          </form>
        </div>
  
        <!-- CADASTRO -->
        <div class="signup-form">
          <div class="title" style="font-size: 40px; color: #012e5e;">Cadastrar</div>
          <form>
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Digite seu nome" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Digite seu email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-phone"></i>
                <input type="text" placeholder="Digite seu telefone" mask="(00) 00000-0000" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Digite a senha" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirme a senha" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Cadastrar">
              </div>
              <div class="text sign-up-text">
                Já tem conta? <label for="flip">Logar</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  