<footer>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">FAVEP © 2025 - Todos os direitos reservados</span>
      <span class="policy_terms">
        <a href="#">Política de privacidade</a>
        <a href="#">Termos e condições</a>
      </span>
    </div>
    <div class="top">
      <div class="media-icons">
        <a href="https://www.facebook.com/profile.php?id=61577097506558" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/favep.geragricola/" target="_blank"><i class="fab fa-instagram"></i></a>
        <!--<a href="#"><i class="fab fa-linkedin-in"></i></a>-->
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>
</footer>