
  <div class="botao-voltar">
    <a href="gerenciamento">
      <span class="material-symbols-outlined">⇦</span>
    </a>
  </div>

  <!-- SELETOR -->

  <div class="form-container">
    <label for="formSelecionado">Escolha o formulário</label>
    <select [(ngModel)]="formSelecionado">
      <option value="propriedade">Registrar Propriedade Agrícola</option>
      <option value="producao">Registrar Produção</option>
      <option value="plantio">Registrar Plantio</option>
      <option value="colheita">Registrar Colheita</option>
      <option value="maquinario">Registrar Máquinario</option>
      <option value="receita">Registrar Receita</option>
      <option value="custos">Registrar Custos</option>
    </select>
  </div>

  <!-- FORMULÁRIOS -->

  <!-- Propriedade -->
  <div class="form-container" *ngIf="formSelecionado === 'propriedade'">
    <h2>Registrar Propriedade Agrícola</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Nome</label>
      <input type="text" formControlName="nome">
      <label>Localização</label>
      <input type="text" formControlName="localizacao">
      <label>Tamanho (hectares)</label>
      <input type="number" formControlName="tamanho">
      <label>Tipo de Cultura</label>
      <input type="text" formControlName="cultura">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Produção -->
  <div class="form-container" *ngIf="formSelecionado === 'producao'">
    <h2>Registrar Produção</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Propriedade</label>
      <input type="text" formControlName="nome">
      <label>Produto produzido</label>
      <input type="text" formControlName="localizacao">
      <label>Produção vendida</label>
      <input type="number" formControlName="tamanho">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Plantio -->
  <div class="form-container" *ngIf="formSelecionado === 'plantio'">
    <h2>Registrar Plantio</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Propriedade</label>
      <input type="text" formControlName="nome">
      <label>Plantio</label>
      <input type="text" formControlName="Plantio">
      <label>Início plantio</label>
      <input type="data" formControlName="DataInicio">
      <label>Área</label>
      <input type="number" formControlName="tamanho">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Colheita -->
  <div class="form-container" *ngIf="formSelecionado === 'colheita'">
    <h2>Registrar Colheita</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Propriedade</label>
      <input type="text" formControlName="nome">
      <label>Produção</label>
      <input type="text" formControlName="nome">
      <label>Início plantio</label>
      <input type="text" formControlName="localizacao">
      <label>Área</label>
      <input type="number" formControlName="tamanho">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Maquinário -->
  <div class="form-container" *ngIf="formSelecionado === 'maquinario'">
    <h2>Registrar Máquinario</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Fabricante</label>
      <input type="text" formControlName="nome">
      <label>Data aquisição</label>
      <input type="number" formControlName="localizacao">
      <label>Funcionalidade/tipo maquinário</label>
      <input type="text" formControlName="tamanho">
      <label>Custo de manutenção</label>
      <input type="number" formControlName="cultura">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Receita -->
  <div class="form-container" *ngIf="formSelecionado === 'receita'">
    <h2>Registrar Receita</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Propriedade</label>
      <input type="text" formControlName="nome">
      <label>Receita estimada</label>
      <input type="number" formControlName="nome">
      <label>Entrada</label>
      <input type="number" formControlName="localizacao">
      <label>Saída</label>
      <input type="number" formControlName="tamanho">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>

  <!-- Custos -->
  <div class="form-container" *ngIf="formSelecionado === 'custos'">
    <h2>Registrar Custos</h2>
    <form [formGroup]="propriedadeForm" (ngSubmit)="onSubmit()">
      <label>Nome</label>
      <input type="text" formControlName="nome">
      <label>Custos e despesas</label>
      <input type="number" formControlName="localizacao">
      <button type="submit" [disabled]="propriedadeForm.invalid">Salvar</button>
    </form>
  </div>
